{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Dodaj nową kategorię</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.color.label }}
            {{ form.color(class="form-control", type="color") }}
            {% for error in form.color.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %} 